.doc-contents p {
    color: var(--md-typeset-color);
    opacity: 0.9;
    font-size: 1.3em;
}
.doc-object.doc-function > .doc.doc-contents {
    /*border-left: 3px solid var(--md-primary-fg-color) !important;*/
    padding-left: 0.7rem !important;
    /*margin-left: 0.4rem !important;*/
    /*display: block !important;*/
}
.doc-object.doc-function .doc-contents p {
    font-size: 0.95em;
}
